.todo-container {
    border: 2px solid white;
    padding: 60px 40px;
    border-radius: 30px;
    background-color: #181818;
    filter: drop-shadow(5px 0px 10px rgba(255, 251, 251, 0.363));
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    color: white;
    box-sizing: border-box;
}

.heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    width: 100%;
}

.todo-input {
    padding: 14px;
    width: 60%;
    border: none;
    border-radius: 20px 0 0 20px;
    transition: 0.5s ease-out;
    font-size: 16px;
    outline: none;
}

.todo-input:hover {
    border: 2px solid white;
    filter: drop-shadow(1px 0px 20px rgba(255, 251, 251, 0.795));
    transition: 0.3s ease-in;
}

.todo-btn {
    padding: 14px 20px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #02806b;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s ease-out;
    color: white;
    font-size: 16px;
}

.todo-btn:hover {
    transition: 0.3s ease-in;
    filter: drop-shadow(1px 0px 20px rgba(255, 251, 251, 0.795));
    background-color: rgb(0, 50, 126);
    border: 2px solid white;
}

.task-list {
    list-style: none;
    margin-top: 30px;
    padding: 0;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

.task-item {
    padding: 12px 10px;
    margin: 2px 0;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    word-break: break-word;
}

.task-item:hover {
    
    filter: drop-shadow(10px 0px 20px rgb(255, 251, 251));
    cursor: pointer;
}

.DeleteButton {
    color: rgb(0, 161, 126);
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.DeleteButton:hover {
    transform: scale(1.2);
    transform: rotate(30deg);
    color: red;
}
